body {
    background: no-repeat center center fixed;
    background-size: cover;
}

.marquee {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    color: #000000f0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    padding: 10px 0;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 3em;
    font-weight: bold;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
}
.grid-item {
    width: 100%;
}

table {
    font-size: 11px;
}

th {
    color: aliceblue;
    background-color: #001a33;
}

td {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highgreen {
    color: #c70a29;
}


@media (max-width: 480px) {
    .highgreen {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .highgreen {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .highgreen {
        font-size: 15px;
    }
}

@media (max-width: 3840px) {
    .highgreen {
        font-size: 20px;
    }
}

button:hover {
    cursor: pointer;
}

.centrado {
    display: flex;
    justify-content: center;
}

.negrita {
    font-weight: bold;
}

.border-bottoms {
    color: #33C728;
    font-size: 2em;
    border-bottom: 2px solid #33C728;
}

.border-bottoms-b {
    color: #3596ff;
    font-size: 2em;
    border-bottom: 2px solid #3596ff;
}

.border-bottoms-c {
    color: #97a843;
    font-size: 2em;
    border-bottom: 2px solid #97a843;
}

.page_selected {
    border-bottom: 3px solid #5BFF9A;
    background-color: #001a33;
    color: white;
    margin: 0;
    /* padding: 0; */
    /* border: 0; */
}

.uploadForm {
    position: absolute;
    left: 137px;
    bottom: 0.1px;
}

#main {
    border: 2px solid;
}

#divmain2 {
    border: 2px solid;
    height: 20vh;
    margin: 0;
    padding: 0;
}

#divmain3 {
    border: 2px solid;
    height: 20vh;
    margin: 0;
    padding: 0;
}

.hrmain {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.agregarcol:hover {
    border-bottom: 3px solid #009999;
    background-color: #001a33;
}


.money {
    color: black;
    font-weight: bold;
    font-size: 10px;
}