{{template "headerlayout"}}
<title>MyBarApp &#174;</title>
</head>

<body>
    {{template "navingbar" .}}
    <div class="container">
        <div class="centrado">
            <h1 class="display-4">Inventario</h1>
        </div>
    </div>
    <hr>
    <div class="container grid-container">
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('Almacenes');"
                role="button">Almacenes</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('Alta');"
                role="button">Alta de Producto</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('Traspasos');"
                role="button">Traspaso de Producto</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('botellas');"
                role="button">Botellas</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('promo');"
                role="button">Promos</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('botanas');"
                role="button">Botanas</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('cancion');"
                role="button">Cancion</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('cervezas');"
                role="button">Cervezas</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('cigarros');"
                role="button">Cigarros</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('copa');"
                role="button">Copa</a></div>
        <div class="grid-item"><a class="btn btn-info btn-large padd" href="Javascript:Mifuncion('ficha');"
                role="button">Ficha</a></div>
    </div>

    <div class="row">
        <div class="container" id="maincontainer">
        </div>
    </div>
    <hr>
    <div class="container" id="subcontainer">
    </div>
    <div class="container" id="subsubcontainer">
    </div>
    <script>
        inventariosit.classList.add("page_selected");
    </script>
    {{template "footerlayout"}}
</body>

</html>