{{template "headerlayout"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="col-3">
        <a class="navbar-brand" href="#">
            <img src="Recursos/Imagenes/logo.png" width="40" height="40" alt="">
            <span>{{.Tipo}}</span>
        </a>

    </div>

    <div class="col-6">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link agregarcol" href="/index">Inicio</a>
                </li>
                <li class="nav-item">
            </ul>
        </div>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-success notificaciones">
            <span class="badge badge-light">4</span>
        </button>
    </div>

    <div class="col-2">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown2">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="btn-sm">
                            <img src="Recursos/Generales/Plugins/icons/build/svg/person.svg" height="20" alt="usuario" />
                        </button>
                        {{.Usuario.Nombre}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/configuracion">Configuración</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</nav>

<br>
</h3>

<div class="container h-100">
    <h4>Editar usuario de sistema:</h4>
    <hr class="hrmain">
    <div id="maincontainer">
        
        <form class="form-inline">
            <div class="form-group">
                <label for="nombre">Nombre: &nbsp;</label>
                <input type="text" class="form-control-sm" name="nombre" id="nombre" value="{{.Usuario.Nombre}}"/>
            </div>
            <div class="form-group">
                <label for="apellidos">&nbsp;&nbsp;Apellidos: &nbsp;</label>
                <input type="text" class="form-control-sm" name="apellidos" id="apellidos" value="{{.Usuario.Apellidos}}" />
            </div>
            <div class="form-group">
                <label for="edad">&nbsp;&nbsp;Edad: &nbsp;</label>
                <input type="text" class="form-control-sm" name="edad" id="edad" value="{{.Usuario.Edad}}"/>
            </div>
            <div class="form-group">
                <label for="correo">&nbsp;&nbsp;Correo: &nbsp;</label>
                <input type="text" class="form-control-sm" name="correo" id="correo" value="{{.Usuario.Correo}}"/>
            </div>

            <div class="form-group">
                <label for="telefono">&nbsp;&nbsp;Telefono: &nbsp;</label>
                <input type="text" class="form-control-sm" name="telefono" id="telefono" value="{{.Usuario.Telefono}}"/>
            </div>
        
            <div class="form-group">
                <label for="key">Contraseña: &nbsp;</label>
                <input type="text" class="form-control-sm" name="key" id="key" value="{{.Usuario.Key}}"/>
            </div>
            <div class="form-group">
                <label for="tipo">&nbsp;&nbsp;Tipo de Usuario:&nbsp;</label>
                <input type="text" class="form-control-sm" name="tipo" id="tipo" value="{{.Tipo}}" readonly>
            </div>


        </form>
        
    </div>
</div>

<!-- 
    <div class="container">
<div class="row">
    <div class="col-6" id="divmain">
            <div class="container">
                    <h4>Reporte de Ventas</h4>
            </div>
    </div>
    <div class="col-6" id="divmain2">
            <div class="container">
                    <h4>Reporte de Ventas</h4>
            </div>           
    </div>

    <div class="col-6" id="divmain3">
            <div class="container">
                    <h4>Reporte de Ventas</h4>
            </div>
    </div>

</div>
</div> -->
{{template "footerlayout"}}