{{template "headerlayout"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="col-3">
        <a class="navbar-brand" href="#">
            <img src="Recursos/Imagenes/logo.png" width="40" height="40" alt="">
            <span>&nbsp Sistema de Control Auditor</span>
        </a>

    </div>

    <div class="col-6">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link agregarcol" href="/index">Inicio</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link agregarcol" href="#" onclick="Comisiones();">Comisiones</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle agregarcol" href="#" id="ReportesVentas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Ventas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ReportesVentas">
                                
                                <a class="dropdown-item agregarcol" href="Javascript:Mifuncion('Prospectos');">Prospectos</a>
                                
                                <a class="dropdown-item agregarcol" href="Javascript:Mifuncion('Contratos');">Contratos</a>
                                
                                <a class="dropdown-item agregarcol" href="Javascript:Mifuncion('Cancelaciones');">Cancelaciones</a>
                                
                                <a class="dropdown-item agregarcol" href="Javascript:Mifuncion('Escrituraciones');">Escrituraciones</a>
                                
                                <a class="dropdown-item agregarcol" href="Javascript:Mifuncion('Viviendas%20Libres');">Viviendas Libres</a>
                                
                            </div>
                        </li>

                </ul>
            </div>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-success notificaciones">
                <span class="badge badge-light">4</span>
        </button>
    </div>

    <div class="col-2">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown2">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="btn-sm"> 
                             <img src="Recursos/Generales/Plugins/icons/build/svg/person.svg" height="20" alt="usuario"/>                       
                            </button>
                            {{.Usuario.Nombre}}    
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/configuracion">Configuración</a>
                        <a class="dropdown-item" href="/editarusuario">Editar usuario</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</nav>


<br>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="form-group">
            <label for="buscador" class="labelBuscar">Buscador de algo...:</label>
            <input type="text" size="50" class="form-control" id="cambiarnombre" placeholder="se ejecuta la busqueda u alguna otra accion" autofocus style="text-transform:uppercase">
        </div>
    </div>
</div>


<div class="container h-100">
<hr class="hrmain">

    <div id="maincontainer">
        
        <h4>Se puede incluir algun dashboard</h1>



    </div>
</div>



{{template "footerlayout"}}